@import "./reset.css";
@import "../fonts/fonts.css";

/* Общие стили */
* {
    font-family: 'Play', sans-serif;
    color: #fff;
}

::selection {
    background: rgba(255,221,45,.32)!important;
    color: rgba(0,0,0,.8)!important;
    text-shadow: none;
}

body {
    background: #212121;
    font-size: 20px;
    line-height: 24px;
}

h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

h3, .h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.text-mini {
    font-size: 14px;
    line-height: 20px;
}

.default-btn {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    background: #FFDD2D;
    color: #333;
    border-radius: 10px;
    padding: 15.5px;
    width: 280px;
    height: 65px;
    transition: background-color ease .3s;
}

.header-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 8px 18px;
    border-radius: 8px;
    background: #ffdd2d;
    color: #333;
}

.default-btn:hover, .header-btn:hover {
    background: #F8B821;
    transition: background-color ease .3s;
}

.default-btn:active, .header-btn:active {
    background: #E3A81D;
    transition: background-color ease .3s;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
}

.mobile-hidden {
    display: none;
}

.pk-hidden {
    display: block;
}

.form__input {
    background: #fff;
    margin-bottom: 14px;
    width: 580px;
    height: 65px;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    transition: background-color ease .3s;
}

.form__input:hover {
    background: #e1e2e3;
    transition: background-color ease .3s;
}

@media (max-width: 1220px) {
    body {
        font-size: 18px;
        line-height: 24px;
    }
    
    h1 {
        font-size: 34px;
        line-height: 40px;
    }
    
    h2 {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
    }
    
    h3 {
        font-size: 22px;
        line-height: 28px;
    }
    
    .text-bold {
        font-size: 18px;
        line-height: 24px;
    }
    
    .text-mini {
        font-size: 12px;
        line-height: 18px;
    }

    .default-btn {
        width: 232px;
        height: 54px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        padding: 10px;
    }

    .form__input {
        width: 480px;
        height: 48px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
    
    h1 {
        font-size: 21px;
        line-height: 24px;
    }
    
    h2 {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }
    
    h3 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .text-bold {
        font-size: 18px;
        line-height: 22px;
    }
    
    .text-mini {
        font-size: 11px;
        line-height: 16px;
    }

    .default-btn {
        margin: 0 20px;
        width: calc(100% - 40px);
        height: 48px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .form__input {
        width: calc(100% - 40px);
        margin: 0 auto 16px auto;
    }
}

.text-opacity {
    color: #797979;
}
/* Общие стили */

/* Шапка */

.header {
    background: #fff;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 233px;
}

.header__span {
    height: 52px;
    width: 1px;
    background: #e1e2e3;
}

.header__nav {
    width: 307px;
}

.header__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    color: #333;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__contact {
    max-width: 271px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header_number {
    color: #0d6efd;
    width: 136px;
}

.header__btn_mobile {
    display: none;
} 

.header__mobile_menu {
    display: none;
}

@media(max-width: 1199px) {
    .header {
        padding: 0 20px;     
    }
}

@media(max-width: 1199px) {
    .header {
        height: 68px;
        padding: 0;
    }

    .header__wrapper {
        padding: 20px;
        height: 68px;
    }

    .header__logo {
        justify-content: unset;
    }

    .header__span {
        height: 28px;
    }
    
    .header__nav {
        width: 228px;
    }
    
    .header__btn {
        display: none;
    }

    .header__btn_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        min-width: 24px;
        height: 24px;
        padding: unset;
        background: #ffdd2d;
    }

    .header__contact {
        max-width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_number {
        width: 98px;
        white-space: nowrap;
    }
}

@media (max-width: 576px) {
    .header__logo {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 163px;
    }

    .header__link {
        margin-right: 16px;
    }

    .header {
        height: 48px;
    }

    .header__wrapper {
        height: 48px;
    }

    .header__nav {
        display: none;
    }

    .header__btn_mobile {
        display: none;
    } 

    .header__mobile_menu {
        display: flex;
    }

    .header__span {
        height: 24px;
    }
}

/* Скрываем элементы по умолчанию */
.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #333;
    margin-top: 48px;
}

/* Показываем модальное окно, когда оно активно */
.modal.active {
    display: block;
}

/* Показываем крестик, когда он активен */
.header__mobile_menu_close.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mobile_menu_close {
    width: 20px;
    height: 20px;
}

.modal__ul {
    width: 152px;
    height: 138px;
    position: absolute;
    top: 128px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.modal__link {
    color: #fff;
    font-size: 18px;
}

.modal__btn {
    position: absolute;
    top: 314px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
/* Шапка */

/* Main */
.main {
    margin-top: 76px;
    height: 570px;
    background-image: url("../img/library.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.main__wrapper {
    position: relative;
}

.main__h1 {
    color: #fff;
    text-align: center;
    padding-top: calc(140px - 76px);
}

.main__h2 {
    color: #fff;
    position: absolute;
    top: 361px;
}

.main__btn {
    position: absolute;
    top: 454px;
    z-index: 10;
}

.main__img {
    position: absolute;
    top: 223px;
    left: 760px;
}

.main__gradient {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 57px;
    background: linear-gradient(180deg, rgba(33, 33, 33, 0) 0%, #212121 100%);
    z-index: 0;
}

@media(max-width: 1199px) {
    .main {
        margin-top: 68px;
        height: 483px;
        background-position: top center;
    }

    .main__h1 {
        padding-top: calc(116px - 68px);
    }

    .main__h2 {
        left: 29px;
        top: calc(391px - 68px);
    }

    .main__img {
        top: 192px;
        left: calc(100% - 340px);
    }

    .main__btn {
        left: 19px;
        top: calc(465px - 68px);
    }
}

@media(max-width: 768px) {
    .main__h2 {
        top: 301px;
        width: 251px;
    }

    .main__img {
        left: calc(100% - 300px);
    }
}

@media(max-width: 576px) {
    .main {
        margin-top: 48px;
        height: 257px;
        background-image: url('../img/library-mobile.png');
        background-position: top center;
        background-size: 100%;
    }

    .main__h1 {
        padding-top: calc(72px - 48px);
    }

    .mobile-hidden {
        display: block;
    }
    
    .pk-hidden {
        display: none;
    }

    .main__h2 {
        width: 152px;
        top: calc(232px - 48px);
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        z-index: 999;
    }

    .main__img {
        top: calc(171px - 48px);
        left: calc(100% - 180px);
    }

    .main__btn {
        left: 50%;
        transform: translateX(-50%);
        top: calc(303px - 48px);
        margin: 0;
    }
}
/* Main */


/* Stage block */
.stage {
    margin-top: 50px;
}

.stage__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage__card {
    background: linear-gradient(90.16deg, #333333 0.13%, rgba(69, 69, 69, 0.4) 18.65%, rgba(86, 86, 86, 0.2) 38.52%, rgba(111, 111, 111, 0.1) 59.3%, rgba(153, 153, 153, 0) 90.46%);
    border-radius: 24px;
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.stage__card_one {
    height: 106px;
    width: 488px;
    margin-top: 6px;
}

.stage__card_two {
    height: 104px;
    width: 488px;
    margin-left: -90px;
    margin-top: 4px;
}

.stage__card_three {
    height: 102px;
    width: 380px;
    margin-left: -90px;
}

.stage__icon {
    background: #ffdd2d;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1220px) {
    .stage {
        margin-top: 24px;
    }

    .stage__wrapper {
        flex-wrap: wrap;
        gap: 12px;
    }

    .stage__card {
        width: calc(50% - 24px);
    }

    .stage__card_one {
        margin: 0;
    }

    .stage__card_two {
        margin: 0;
    }

    .stage__card_three {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .stage {
        margin-top: 24px;
    }

    .stage__wrapper {
        flex-direction: column;
    }

    .stage__card {
        width: calc(100% - 40px);
    }
}

@media (max-width: 576px) {
    .stage {
        margin-top: 72px;
    }
}
/* Stage block */


/* advantages */
.advantages {
    margin-top: 70px;
}

.advantages_h2 {
    margin-bottom: 49px;
    width: 100%;
}

.advantages__block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.advantages__video {
    background: #000000;
    border-radius: 25px;
    height: 421px;
    width: 680px;
}

.advantages__text_block {
    height: 421px;
    width: 480px;
}

.advantages__text_div {
    padding: 0 8px 16px 8px;
    gap: 16px;
}

.advantages__text_h3 {
    margin-bottom: 16px;
}

.advantages__text_p {
    margin-bottom: 20px;
}

@media (max-width: 1220px) {
    .advantages {
        margin: 56px 20px 0 20px;
        width: calc(100% - 40px);
    }
    
    .advantages_h2 {
        margin-bottom: 32px;
    }

    .advantages__video {
        width: 50%;
        height: 246px;

    }

    .advantages__text_block {
        width: 50%;
        height: unset;
    }
}

@media (max-width: 768px) {
    .advantages__block {
        flex-wrap: wrap;
    }

    .advantages__video {
        width: calc(100% - 24px);
        height: 246px;

    }

    .advantages__text_block {
        width: 100%;
    }

    .advantages__text_div {
        padding: 0 0 16px 0;
        gap: 16px;
    }
}
/* advantages */


/* service */
.services__h2 {
    margin-top: 53px;
    margin-bottom: 48px;
    width: 100%;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.services__card {
    width: calc(33% - 10px);
    height: 353px;
    background: #333;
    padding: 28px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__card_h3 {
    margin-bottom: 20px;
}

.services__card_p {
    margin-bottom: 20px;
}

.services__card_price {
    text-transform: uppercase;
}

.services__big_card {
    width: 100%;
    height: 221px;
    border-radius: 25px;
    background: linear-gradient(176.82deg, #333333 2.33%, rgba(69, 69, 69, 0.4) 21.75%, rgba(86, 86, 86, 0.2) 42.6%, rgba(111, 111, 111, 0.1) 64.39%, rgba(153, 153, 153, 0) 97.08%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__big_card_h3 {
    color: #ffdd2d;
    margin-top: 48px;
    margin-bottom: 32px;
}

@media (max-width: 1220px) {
    .services__h2 {
        margin-top: 56px;
        margin-bottom: 32px;
    }

    .services__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .services__card {
        width: calc(100% - 40px);
        height: unset;
        min-height: 200px;
        padding: 20px;
    }

    .services__card_h3 {
        margin-bottom: 16px;
    }
    
    .services__card_p {
        margin-bottom: 16px;
    }

    .services__big_card {
        width: calc(100% - 40px);
        height: 169px;
    }

    .services__big_card_h3 {
        margin-top: 33.5px;
        margin-bottom: 16px;
    }
}
/* service */

/* reviews */
.reviews {
    overflow-x: hidden;
}

.reviews__h2 {
    margin-top: 64px;
    margin-bottom: 54px;
}

.reviews__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
} 
.reviews__slide.active img {
    min-width: 491px;
    min-height: 422px;
    max-width: 491px;
    max-height: 422px;
}

.reviews__slide.one img {
    opacity: 35%;
    min-width: 278px;
    min-height: 277px;
    max-width: 278px;
    max-height: 277px;
}

.reviews__slide.two img {
    opacity: 25%;
    min-width: 278px;
    min-height: 277px;
    max-width: 278px;
    max-height: 277px;
}

.reviews__slider_prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 32px;
    height: 32px;
    
}

.reviews__slider_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 32px;
    height: 32px;
    
}

.reviews__slider_mobile {
    display: none;
}

.reviews_btn {
    display: block;
    
}

.reviews__footer {
    margin-top: 32px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1220px) {
    .reviews__h2 {
        margin-top: 56px;
        margin-bottom: 32px;
    }

    .reviews__slider {
        display: none;
    }

    .reviews__slider_mobile {
        display: flex;
        max-height: 400px;
        width: calc(100% - 40px);
        overflow-x: scroll;
        margin: 0 auto;
        gap: 16px;
    }

    .reviews__slider_mobile img {
        width: 436px;
    }

    .reviews__footer {
        margin-bottom: 56px;
    }
}

@media (max-width: 768px) {
    .reviews_btn {
        display: block;
    }
    
    .reviews__footer {
        margin-top: 32px;
        margin-bottom: 64px;
    }
}
/* reviews */

/* rating */
.rating {
    margin-bottom: 64px;
}

.rating__h2 {
    margin-top: 64px;
    margin-bottom: 28px;
}

.rating__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 48px;
}

.rating__body {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.rating__card {
    width: calc(50% - 10px);
    display: flex;
    gap: 12px;
    padding: 20px;
}

.rating__round {
    background: #333;
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating__title {
    height: 38px;
    display: flex;
    align-items: center;
}

.rating__stars {
    margin-top: 16px;
    height: 34px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.rating__stars_group {
    display: flex;
    gap: 4px;
}

.rating__footer {
    display: flex;
    flex-direction: row-reverse;
}

.rating__footer_inner {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width: 1220px) {
    .rating {
        margin-bottom: 56px;
    }

    .rating__h2 {
        margin-top: 56px;
        margin-bottom: 20px;
    }
    
    .rating__header {
        margin-bottom: 32px;
    }

    .rating__body {
        flex-direction: column;
    }

    .rating__card {
        width: 100%;
    }

    .rating__footer {
        margin-right: 20px;
    }
}
/* rating */


/* sale */
.sale {
    height: 413px;
    background: #fffbe5;
}

.sale__wrapper {
    display: flex;
    gap: 5px;
}

.sale__block_text {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sale__h2 {
    color: #212121;
    margin-top: 58px;
}

.sale__p {
    color: #212121;
}

.sale__btn {
    margin-top: 64px;
}

.sale__img {
    margin-top: 20px;
}

.sale__btn_mobile {
    display: none;
}

@media (max-width: 1220px) {
    .sale {
        height: 520px;
    }

    .sale__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sale__block_text {
        width: 100%;
    }

    .sale__h2 {
        margin-top: 56px;
    }

    .sale__btn {
        display: none;
    }

    .sale__btn_mobile {
        display: block;
    }

    .sale__p {
        margin-bottom: 32px;
    }

    .sale__img {
        width: 205px;
        margin-top: 0;
        margin-bottom: 32px;
    }

    .sale__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

/* sale */

/* cooperation */
.cooperation {
    margin-bottom: 64px;
}

.cooperation__h2 {
    margin-top: 64px;
    margin-bottom: 48px;
}

.cooperation__wrapper {
    display: flex;
    gap: 22px;
    align-items: end;
}

.cooperation__img {
    width: 680px;
}

.cooperation__ul {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.cooperation__li {
    padding-left: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.cooperation__span {
    border: 1px solid #ffdd2d;
    min-width: 56px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

@media (max-width: 1220px) {
    .cooperation {
        margin-bottom: 56px;
    }

    .cooperation__h2 {
        margin-top: 56px;
        margin-bottom: 32px;
    }

    .cooperation__wrapper {
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    .cooperation__img {
        width: 480px;
    }
}
/* cooperation */

/* form */
.form {
    background: #333;
    border-radius: 25px;
    height: 553px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.form__title {
    width: 578px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 32px;
}



.form__footer {
    width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__footer_text {
    width: 279px;
    height: 60px;
    padding: 0px 12px 0px 12px;
}

.form__footer_btn {
    margin-right: 4px;
}

.form__link {
    text-decoration: underline !important;
}

.br__mobile {
    display: none;
}

@media (max-width: 1220px) {
    .form {
        border-radius: unset;
    }

    .form__footer {
        width: 480px;
        flex-direction: column;
    }

    .form__footer_text {
        width: 100%;
        margin-bottom: 32px;
    }

    .br__mobile {
        display: block;
    }

    .form__footer_text {
        margin-bottom: 32px;
        padding: 0 8px;
    }
}

@media (max-width: 768px) {
    .form__title {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    .form__footer_text {
        width: 480px;
    }

    .form__footer_btn {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .form__footer {
        width: 100%;
    }

    .form__footer_text {
        width: 100%;
        padding-left: 28px;
        margin-bottom: 0;
    }
}
/* form */

/* footer */
.footer {
    background: #fff;
}

.footer__top {
    padding-top: 32px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__phone {
    color: #333;
}

.footer__phone_text {
    color: #333;
    text-align: right;
}

.footer__mid_text {
    color: #212121;
    padding: 10px;
}

.footer__hr {
    margin: 16px 10px;
    background: #333;
    height: 1px;
    opacity: 25%;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__link {
    color: #0d6efd;
}

.footer__bot {
    color: #212121;
    padding-bottom: 17px;
    padding-left: 10px;
}

@media (max-width: 1220px) {
    .footer__top {
        padding: 20px 20px 32px 20px;
    }

    .footer__top img {
        width: 120px;
    }

    .footer__mid_text {
        padding: 0 20px 0 20px;
    }

    .footer__hr {
        margin: 16px 20px;
    }

    .footer__links {
        flex-direction: column;
        align-items: start;
        gap: 4px;
        padding-left: 20px;
    }

    .footer__bot {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* footer */

/* social */
.social-wrapper {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #333;
    border-radius: 50%;
    width: 74px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color ease .3s;
}

svg.sms {
    color: #ffdd2d !important;
}

.social-wrapper:hover {
    background: #444;
    transition: background-color ease .3s;
}

.social-icons {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #ffdd2d;
    border-radius: 10px;
    width: 70px;
    height: 250px;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding: 20px 0;
    gap: 20px;
}

.messenger-icon {
    width: 100%;
}
/* social */

/* arrow up */
.arrow-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #333;
    border-radius: 50%;
    width: 74px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    transition: background-color ease .3s;
}
/* arrow up */